$DarkBlue: #07081D;
$SkyBlue: #1A73E8;
$GradientColor: linear-gradient(135deg, rgba(24, 36, 88, 1), rgba(46, 86, 253, 1)); 
$DarkViolet: rgba(21, 28, 58, 1);
$LightGrey: rgba(195, 195, 195, 1);
$FontFamily: "DM Sans", sans-serif; 
$fs-40: 40px;
$fs-30: 30px;
$fs-24: 24px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$w-100: 100;
$w-200: 200;
$w-300: 300;
$w-400: 400;
$w-500: 500;
$w-600: 600;
$w-700: 700;
$w-800: 800;
$w-900: 900;